<% provide(:title, "Login") %>
<div class="center hero-unit">
  <h1>Welcome to SeedSwap</h1>
  <h2>
    This is the home page.
  </h2>
  
  <p>New user? <%= link_to "Sign up", signup_path %></p>


</div>

<%= link_to image_tag("rails.png", :alt => "SeedSwap"), '' %>