<footer class="footer">
  <small>
    <a href="http://http://rubyonrails.org//">Rails project</a>
    by me, Thurston Sandberg, grandmaster of SeedSwap
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://foxnews.com">News</a></li>
    </ul>
  </nav>
</footer>